@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,600&family=Sarala:wght@400;700&display=swap');

:root {
  --primaryColor: #458daa;
  --nextColor: #fef08a;
  --headingColor: #172554;
  --bg: linear-gradient(
    153deg,
    rgba(73, 75, 209, 1) 24%,
    rgba(54, 54, 75, 1) 77%
  );
}
